#art-main, table
{
 font-family: arial;
 font-style: normal;
 font-weight: bold;
 font-size: 14px;
}


html, body
{
   height:100%;
}

#art-main
{
   position: relative;
   z-index: 0;
   width: 100%;
   min-height: 100%;
   left: 0;
   top: 0;
   cursor:default;
   overflow:hidden;
}

body
{
   padding: 0;
   margin:0;
   min-width: 1000px;
   color: #31331F;
   background-color: #D7D8C0;
   background-repeat: repeat;
   background-attachment: fixed;
   background-position: top left;
}

#art-page-background-middle-texture
{
   position: relative;
   background-repeat: repeat-x;
   background-position: top left;
   background-attachment: fixed;
   width:100%;
   min-width: 1000px;
   min-height:100%;
}

.cleared
{
   display:block;
   clear: both;
   float: none;
   margin: 0;
   padding: 0;
   border: none;
   font-size: 0;
   height:0;
   overflow:hidden;
}

.reset-box
{
   overflow:hidden;
   display:table;
}

form
{
   padding: 0 !important;
   margin: 0 !important;
}

table.position
{
   position: relative;
   width: 100%;
   table-layout: fixed;
}

/* Start Box */
.art-box, .art-box-body {
   margin:0 auto;
   position:relative;
}
.art-box:before, .art-box:after, .art-box-body:before, .art-box-body:after {
   position:absolute;
   top:0;
   bottom:0;
   content:' ';
   background-repeat: no-repeat;
   line-height:0;
}
.art-box:before,.art-box-body:before{
   left:0;
}
.art-box:after,.art-box-body:after{
   right:0;
}
.art-box:before {
   overflow:hidden;
   background-position: bottom left;
   direction: ltr;
   z-index:-3;
}
.art-box:after {
   background-position: bottom right;
   z-index:-3;
}
.art-box-body:before, .art-box-body:after {
   background-repeat:repeat-y;
}
.art-box-body:before {
   background-position: top left;
   z-index:-3;
}
.art-box-body:after {
   background-position: top right;
   z-index:-3;
}

.art-box .art-box:before, .art-box .art-box:after, .art-box-body .art-box-body:before, .art-box-body .art-box-body:after {
   z-index:-2;
}
.art-box .art-box .art-box:before, .art-box .art-box .art-box:after, .art-box-body .art-box-body .art-box-body:before, .art-box-body .art-box-body .art-box-body:after {
   z-index:-1;
}
/* End Box */

/* Start Bar */
.art-bar {
   position:relative;
}
.art-bar:before, .art-bar:after {
   position:absolute;
   top:0;
   bottom:0;
   content:' ';
   background-repeat:repeat;
   z-index:-1;
}
.art-bar:before {
   left:0;
   background-position: top left;
}
.art-bar:after {
   right:0;
   background-position: top right;
}
/* End Bar */

li h1, .art-postcontent li h1, .art-blockcontent-body li h1 
{
   margin:1px;
} 
li h2, .art-postcontent li h2, .art-blockcontent-body li h2 
{
   margin:1px;
} 
li h3, .art-postcontent li h3, .art-blockcontent-body li h3 
{
   margin:1px;
} 
li h4, .art-postcontent li h4, .art-blockcontent-body li h4 
{
   margin:1px;
} 
li h5, .art-postcontent li h5, .art-blockcontent-body li h5 
{
   margin:1px;
} 
li h6, .art-postcontent li h6, .art-blockcontent-body li h6 
{
   margin:1px;
} 
li p, .art-postcontent li p, .art-blockcontent-body li p 
{
   margin:1px;
}

/* end Page */

/* begin Header */
div.art-header
{
   margin: 0 auto;
   position: relative;
   z-index: -5;
   width:997px;
   height: 100px;
   margin-top: 0;
   margin-bottom: 0;
}
.art-header-position
{
   position: absolute;
   top: 0;
   right: 0;
   left: 0;
} 

.art-header-wrapper 
{
   position: relative;
   top:0;
   width:1000px;
   margin:0 auto;
}
.art-header-inner 
{
   position: relative;
   margin: 0 4px;
}

.art-header:before
{
   position: absolute;
   display:block;
   content:' ';
   z-index:-2;
   top: 0;
   width:100%;
   height: 100px;
   background-repeat: no-repeat;
   background-position:top center;
}

div.art-headerobject
{
   display: block;
   left: 77%;
   margin-left: -103px;
   position: absolute;
   top: 0;
   width: 134px;
   height: 100px;
   background-repeat: no-repeat;
   background-position:top center;
}

/* end Header */


/* begin Logo */
div.art-logo
{
   display: block;
   position: absolute;
   top: 30px;
   left: 0;
   margin-left: 12px;
}

.art-logo-name
{
   display: block;
   text-align: left;
   font-size: 28px;
   padding: 0;
   margin: 0;
   color: #fff !important;
}
.art-logo-name a, 
.art-logo-name a:link, 
.art-logo-name a:visited, 
.art-logo-name a:hover
{
   font-size: 28px;
   padding: 0;
   margin: 0;
   color: #fff !important;
}

.art-logo-text
{
   display: block;
   text-align: left;
   font-size: 14px;
   padding: 0;
   margin: 0;
   color: #894400  !important;
}
.art-logo-text a,
.art-logo-text a:link,
.art-logo-text a:visited,
.art-logo-text a:hover
{
   font-size: 14px;
   padding: 0;
   margin: 0;
   color: #31331F !important;
}

#headline, #slogan 
{
   display: block;
   min-width: 150px;
   text-align: left;
}
/* end Logo */

/* begin Menu */
/* menu structure */

ul.art-hmenu a, ul.art-hmenu a:link, ul.art-hmenu a:visited, ul.art-hmenu a:hover 
{
   outline: none;
   position: relative;
   z-index: 11;
}

ul.art-hmenu, ul.art-hmenu ul
{
   display: block;
   margin: 0;
   padding: 0;
   border: 0;
   list-style-type: none;
}

ul.art-hmenu li
{
   margin: 0;
   padding: 0;
   border: 0;
   display: block;
   float: left;
   position: relative;
   z-index: 5;
   background: none;
}

ul.art-hmenu li:hover{
   z-index: 10000;
   white-space: normal;
}
ul.art-hmenu li li{
   float: none;
   width: auto;
}
ul.art-hmenu li:hover>ul {
   visibility: visible;
   top: 100%;
}
ul.art-hmenu li li:hover>ul {
   top: 0;
   left: 100%;
}
ul.art-hmenu:after, ul.art-hmenu ul:after
{
   content: ".";
   height: 0;
   display: block;
   visibility: hidden;
   overflow: hidden;
   clear: both;
}
ul.art-hmenu, ul.art-hmenu ul {
   min-height: 0;
}

ul.art-hmenu ul
{
   visibility: hidden;
   position: absolute;
   z-index: 10;
   left: 0;
   top: 0;

   padding: 10px 30px 30px 30px;
   margin: -10px 0 0 -30px;
}

ul.art-hmenu ul.art-hmenu-left-to-right {
   right: auto;
   left: 0;
   margin: -10px 0 0 -30px;
}
ul.art-hmenu ul.art-hmenu-right-to-left {
   left: auto;
   right: 0;
   margin: -10px -30px 0 0;
}

ul.art-hmenu ul ul
{
   padding: 30px 30px 30px 10px;
   margin: -30px 0 0 -10px;
   margin-left: -11px;
   z-index: -1;
}

ul.art-hmenu ul ul.art-hmenu-left-to-right
{
   right: auto;
   left: 0;
   padding: 30px 30px 30px 10px;
   margin: -30px 0 0 -10px;
   margin-left: -11px;
}

ul.art-hmenu ul ul.art-hmenu-right-to-left
{
   left: auto;
   right: 0;
   padding: 30px 10px 30px 30px;
   margin: -30px -10px 0 0;
   margin-right: -11px;
}

ul.art-hmenu li li:hover>ul.art-hmenu-left-to-right {
   right: auto;
   left: 100%;
}
ul.art-hmenu li li:hover>ul.art-hmenu-right-to-left {
   left: auto;
   right: 100%;
}

ul.art-hmenu{
   position:relative;
   padding: 8px 3px 4px 3px;
   float: left;
}

/* end menu structure */

/* menu bar */

.art-nav
{
   width:1000px;
   margin:0 auto;
   min-height: 50px;
   z-index: 100;
   margin-top: 0;
   margin-bottom: -3px;
}

.art-nav:before{
   right: 7px;
}
.art-nav:after{
   width: 7px;
}
/* end menu bar */
.art-nav-outer{
   position:absolute;
   width:100%;
}
.art-nav-wrapper 
{
   position: relative;
   width:1000px;
   margin:0 auto;
}

.art-nav-inner{
   margin: 0 11px;
}


ul.art-hmenu>li>a
{
   position: relative;
   display: block;
   height: 38px;
   cursor: pointer;
   text-decoration: none;
   color: #EEEED3;
   padding: 0 40px;
   line-height: 38px;
   text-align: center;
}

ul.art-hmenu>li>a:before, ul.art-hmenu>li>a:after
{
   position: absolute;
   display: block;
   content:' ';
   top: 0;
   bottom:0;
   z-index: -1;
  
}

ul.art-hmenu>li>a:before
{
   left: 0;
   right: 4px;
   background-position: top left;
}

ul.art-hmenu>li>a:after
{
   width: 4px;
   right: 0;
   background-position: top right;
}

.art-hmenu a, .art-hmenu a:link, .art-hmenu a:visited, .art-hmenu a:hover
{
   text-align: left;
   text-decoration: none;
}

ul.art-hmenu>li>a.active:before {
   background-position: bottom left;
} 
ul.art-hmenu>li>a.active:after {
   background-position: bottom right;
}
ul.art-hmenu>li>a.active {
   color: #fff;
}

ul.art-hmenu>li>a:hover:before, ul.art-hmenu>li:hover>a:before {
   background-position: center left;
}
ul.art-hmenu>li>a:hover:after, ul.art-hmenu>li:hover>a:after {
   background-position: center right;
}
ul.art-hmenu>li>a:hover, ul.art-hmenu>li:hover>a{
   color: #2A240E;
}

/* end MenuItem */

/* begin MenuSeparator */

ul.art-hmenu>li {
   margin-left:6px;
}
ul.art-hmenu>li:first-child {
   margin-left:0;
}

.art-hmenu ul a
{
   display: block;
   white-space: nowrap;
   height: 28px;
   background-position: left top;
   background-repeat: repeat-x;
   border-width: 1px;
   border-style: solid;
   border-top-width: 0;
   border-color: #B0B384;
   min-width: 7em;
   text-align: left;
   text-decoration: none;
   line-height: 28px;
   color: #303012;
   margin:0;
   padding: 0 17px;
}

.art-hmenu ul>li:first-child>a
{
   border-top-width: 1px;
}

.art-hmenu ul a:link, .art-hmenu ul a:visited, .art-hmenu ul a:hover, .art-hmenu ul a:active
{
   text-align: left;
   text-decoration: none;
   line-height: 28px;
   color: #303012;
   margin:0;
   padding: 0 17px;
}

.art-hmenu ul li a:hover
{
   color: #000000;
   background-position: left bottom;
   border-color: #CCB361;
   border-top-width: 1px !important;
}

.art-hmenu ul li a.art-hmenu-before-hovered
{
   border-bottom-width: 0 !important;
}

.art-hmenu ul li:hover>a
{
   color: #000000;
   background-position: left bottom;
   border-color: #CCB361;
   border-top-width: 1px !important;
}


.art-sheet
{
   max-width:1000px;
   margin-top: 7px;
   margin-bottom: -3px;
   cursor:auto;
   width: 1000px;
}
.art-sheet-body 
{
   padding:11px;
   min-width:4px;
   min-height:4px;
   padding-top:11px;
   padding-bottom:11px;
}
.art-sheet:before, .art-sheet:after 
{
    font-size: 0;
}
.art-sheet:after{
   clip:rect(auto, auto, auto, 987px);
}
.art-sheet:before,.art-sheet-body:before{
   right:13px;
}
.art-sheet-body:after{
   width: 13px;
   top:13px;
   bottom:13px;
   }
.art-sheet-body:before{
   top:13px;
   bottom:13px;
   }


.art-button img, span.art-button-wrapper img
{
   margin: 0;
   vertical-align: middle;
}

span.art-button-wrapper
{
   vertical-align: middle;
   display: inline-block;
   position: relative;
   height: 25px;
   overflow: hidden;
   white-space: nowrap;
   text-indent: 0;
   width: auto;
   max-width:978px;
   margin: 0;
   padding: 0;
   z-index: 0;
}

.firefox2 span.art-button-wrapper
{
   display: block;
   float: left;
}



.main_content
   {
      background-color:rgba(221, 200, 152, 0.42);
      margin: 5px;
    width: 970px;
    height: 480px;
    
   }
   
   
.panel_PLN
   {
    display:inline-block;
    background-color: #F2F3F1;
    margin: 10px 10px 10px 10px; 
    width: 470px;
    height: 450px;
    box-shadow: 1px 1px 1px #888888;
    font-size: 18px; 
    font-family: arial; 
    font-weight: bold;
    float: left;
   }

.panel_finance
   {
    display:inline-block;
    background-color: #F2F3F1;
    margin: 10px 10px 10px 0px; 
    width: 470px;
    height: 450px;
    box-shadow: 1px 1px 1px #888888;
    font-size: 18px; 
    font-family: arial; 
    font-weight: bold;
    float: right;
   }   
   

.menu_content
   {
    background-repeat: no-repeat;
    background-position:top center;
    margin: 5px;
    width: 460px;
    height: 480px;
    
   }  
   .judul_content
   {
    width: 460px;
    height: 80px;
    padding: 5px 5px 5px 5px;
    margin-top: -119px;
    
    
   }

  .judul_content ul 
   {
    margin: 0;
    padding:5px 5px 5px 20px;
    list-style: none;
    line-height: normal;
   }

  .judul_content li 
   {
    display: inline;
    margin: 0;
    padding: 0;
   }

  .judul_content a 
   {
    background-color: #F2F3F1;
    margin: 5px;
    width: 400px;
    height: 40px;
    box-shadow: 2px 2px 2px 2px #888;
    font-size: 18px;
    font-family: arial;
    font-weight: bold;
    float: right;
    padding: 20px;
    text-align: center;
   }

  .judul_content a:hover 
   {
    background-color: #E1E1E1;
    color: #FF6706;
   }


.menu_content2
   {
    background-repeat: no-repeat;
    background-position:top center;
    margin: 5px;
    width: 460px;
    height: 480px;
    
   } 
   

  .judul_content2
   {
    width: 460px;
    height: 80px;
    padding: 5px 5px 5px 5px;
    margin-top: -150px;
    
    
   }

  .judul_content2 ul 
   {
    margin: 0;
    padding:5px 5px 5px 20px;
    list-style: none;
    line-height: normal;
   }

  .judul_content2 li 
   {
    display: inline;
    margin: 0;
    padding: 0;
   }

  .judul_content2 a 
   {
    background-color: #F2F3F1;
    margin: 5px;
    width: 400px;
    height: 40px;
    box-shadow: 2px 2px 2px 2px #888;
    font-size: 18px;
    font-family: arial;
    font-weight: bold;
    float: right;
    padding: 20px;
    text-align: center;
   }

  .judul_content2 a:hover 
   {
    background-color: #E1E1E1;
    color: #FF6706;
   }

.art-footer
{
   position: relative;
   margin-top:0;
   margin-bottom:0;
   width: 100%;
}

.art-footer-body
{
   position:relative;
   padding: 10px;
   color: #282919;
   font-size: 14px;
}

.art-footer:before, .art-footer:after 
{
   position: absolute;
   content:' ';
   z-index:-2;
   bottom:0;
   height:50px;
}

.art-footer:before
{
   left:0;
   right:0;
   background-position: bottom left;
}

.art-footer:after
{
   right:0;
   width:0;
   background-position: bottom right;
}

.art-footer-body .art-rss-tag-icon
{
   position: absolute;
   left:   6px;
   bottom:10px;
   z-index:1;
}


{
   color: #282919;
   font-size: 11px;
}

.art-footer-text
{
   min-height: 24px;
   padding-left: 10px;
   padding-right: 10px;
   text-align: center;
}

